<?xml version="1.0"?>
<config>
    <modules>
        <Indiebytes_Sek>
            <version>0.0.3</version>
        </Indiebytes_Sek>
    </modules>
    <global>
        <models>
            <sek>
                <class>Indiebytes_Sek_Model</class>
            </sek>
            <core>
                <rewrite>
                    <locale>Indiebytes_Sek_Model_Core_Locale</locale>
                </rewrite>
            </core>
            <directory>
                <rewrite>
                    <currency>Indiebytes_Sek_Model_Directory_Currency</currency>
                </rewrite>
            </directory>
        </models>
    </global>
</config>